.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

.myh1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.myh4 {

  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 1.5rem;
  color: #4ECCA3;
  position: relative;

}

.myh3{

  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3.5rem;
  color: #4ECCA3;
  position: relative;
  margin-top: 5%;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn-roll{
  margin: 3% auto 5% auto;
}
